<div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">
        <img src="assets/images/1.png" />
      </span>
    </div>
  
    <ul class="nav-links">
      
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn" ></i>
      </div>
  
      <div class="menu-summary-container">
        <span class="user">User: </span>
        <span class="last-connection">last connection: </span>
        <a class="nav-item nav-link" (click)="logout()" style="color:red">Logoutdd</a>
      </div>
    </nav>
  
    <router-outlet></router-outlet>
  </section>
  